<script type="text/javascript">
	window.onload = change_lang(); 

  function change_lang(){
  	var current_session_language = '<%= I18n.locale %>';
  	var source_language = 'KPW';
    var target_language;

    console.log("change_lang_test");

  	if(current_session_language == 'en')	{
  		target_language = 'USD';
  	}else if(current_session_language == 'ja')	{
  		target_language = 'JPY';
  	}else if(current_session_language == 'ko')	{
  		target_language = 'KPW';
  	}else if(current_session_language == 'ch') {
      target_language = 'CNY';
    }

  	console.log(current_session_language + '->' + target_language);

    if(target_language == 'KOR')	{
    	document.getElementById("locale_price").innerHTML = '';
    	translate(target_language);
    	return;	
    }
    
    translate(target_language);

    getRate(source_language, target_language);
  }

  // 메뉴명 번역 
  function translate(to)	{
		var menu_name = document.getElementById("menu_name");

    console.log(document.getElementById("menu_name"));

		if(to == 'KOR') {
			menu_name.innerHTML = "<%= @menu.name %>";
		}else if(to == 'USD')	{
			menu_name.innerHTML = " / <%= @menu.locale_translation(0).name %>";
		}else if(to == 'JPY')	{
			document.getElementById("menu_name").innerHTML = " / <%= @menu.locale_translation(1).name %>";
		}else if(to == 'CNY')	{
			menu_name.innerHTML = " / <%= @menu.locale_translation(2).name %>";
		}
	}

  <!-- 환율 변환 -->
  function getRate(from, to){
    if(to =='KPW') {
      return;
    }
    
    if(to == 'USD') {
      var locale = '$';
      <% if(@menu.price_usd.present?) %>
        var money = <%= @menu.price_usd %>;
      <% end %>
    }else if(to == 'JPY')  {
      var locale = 'Ұ';
      <% if(@menu.price_jpy.present?) %>
        var money = <%= @menu.price_jpy %>;
      <% end %>
    }else if(to == 'CNY')  {
      var locale = 'CN¥';
      <% if(@menu.price_cny.present?) %>
        var money = <%= @menu.price_cny %>;
      <% end %>
    }
    
    document.getElementById("locale_price").innerHTML = " &nbsp; &nbsp; &nbsp; / &nbsp; &nbsp; &nbsp;" + locale + " " + money;
  }
  
</script>