<script type="text/javascript"> 
  $('.menu-item').click(function(){
    var id = $(this).data('id');
    $.ajax({
      // url: "/restaurants/" + restaurant_id + "/menus/" + menu_id
      url: "/menus/" + id + ".json",
      dataType: "JSON",
      success: function(d){
        renderDetail(d);
      },
      error: function(e){
        console.log(e);
      }
    })
  });

  function renderDetail(d){
    var details = $("#detailTemplate").html();
    var detailsTemplate = Handlebars.compile(details);
    var detailsHtml = detailsTemplate(d);

    console.log(d);

    $('#detail_tap').html(detailsHtml);
    $('.section-tab.active').removeClass('active').removeClass('in');
    $('#detail_tap').addClass('active').addClass('in');
  }
</script>

<script id="detailTemplate" type="text/x-handlebars-template">
  <h4 class="section-title">
    {{menu.name}}

    <small>{{menu.subname}}</small>

    <span class="detail-prices pull-right">
      {{#if submenus}}
        {{#each submenus}}
          <span class="price-item">
            {{name}} - <span class="amount">{{addCommas price}}</span>
          </span>
        {{/each}}
      {{else}}
        <span class="amount">{{addCommas menu.price}}</span>
      {{/if}}
    </span>
  </h4>

  <div class="detail-photo">
    {{#if photos}}
      <div id="carousel-for-detail" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {{#each photos}}
            <li data-target="#carousel-for-detail" 
              data-slide-to="{{@index}}" 
              {{#isEqual @index 0}}
              class="active"
              {{/isEqual}}
              ></li>
          {{/each}}
        </ol>

        <div class="carousel-inner" role="listbox">
          {{#each photos}}
            <div class="item {{#isEqual @index 0}}active{{/isEqual}}">
              <img src="{{large}}" alt="{{../menu.name}}">
            </div>
          {{/each}}
        </div>

        <a class="left carousel-control" href="#carousel-for-detail" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-for-detail" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    {{else}}
      <img src="{{photo}}" alt="{{menu.name}}" class="img-responsive"/>
    {{/if}}
  </div>

  <div class="description">
    {{menu.description}}
  </div>
</script>