<script type="text/javascript">
  $(document).ready(function(){
    $('#exchange').click(function(){
      console.log("TEST");

      getRate('USD');
      getRate('JPY');
      getRate('CNY');
    })
  })

  <!-- 환율 변환 -->
  function getRate(to){
    var from = 'KPW';
    
    var script = document.createElement('script');
    script.setAttribute('src', "http://query.yahooapis.com/v1/public/yql?q=select%20rate%2Cname%20from%20csv%20where%20url%3D'http%3A%2F%2Fdownload.finance.yahoo.com%2Fd%2Fquotes%3Fs%3D" + from + to + "%253DX%26f%3Dl1n'%20and%20columns%3D'rate%2Cname'&format=json&callback=parseExchangeRate");
    document.body.appendChild(script);
  }

  function parseExchangeRate(data){
    var price = document.getElementById("menu_price").value;
    console.log("Price : " + price);

    var rate = parseFloat(data.query.results.row.rate, 10);

    money = rate * price;

    console.log("Rate : " + rate);

    if(data.query.results.row.name == 'KPW/USD') {
      document.getElementById("usd_price").value = money.toFixed(1);
      document.getElementById("usd_rate").value = (rate*1000).toFixed(2);
    }else if(data.query.results.row.name == 'KPW/JPY')  {
      document.getElementById("jpy_price").value = money.toFixed(1);
      document.getElementById("jpy_rate").value = (rate*1000).toFixed(2);
    }else if(data.query.results.row.name == 'KPW/CNY')  {
      document.getElementById("cny_price").value = money.toFixed(1);
      document.getElementById("cny_rate").value = (rate*1000).toFixed(2);
    }
    
  }
 
  function change_v(v, target) {
    var strArray = target.split('_');
    console.log(strArray[0] + ' : ' + strArray[1]);

    var value = document.getElementById(target).value;
    value = parseFloat(value) + v;

    document.getElementById(target).value = value.toFixed(1);

    if(strArray[1] == 'rate') {
      var price = document.getElementById("menu_price").value;
      console.log('Price : ' + price);
      money = value.toFixed(1) / 1000 * price;
      console.log('Money : ' + money);
      document.getElementById(strArray[0] + "_price").value = money.toFixed(1);
    }
  }

</script>

<!-- Exchange Rate Modal -->
<div class="modal fade" id="mModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          환율 설정
        </h4>
      </div>
      <div class="modal-body">

        <div class="page-header">
          <h1><small>환율(1,000원 기준)</small></h1>
        </div>

        <div class='row'>
          <div class='col-md-2 menu-form-label'>
            <label>USD</label>
          </div>
          <div class='col-md-6 col-xs-6 menu-form-input'>
            <input class="numeric integer optional form-control" type="number" step="0.1" name="menu[price_usd]" id="usd_rate">
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(0.1, 'usd_rate')" value='+'>
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(-0.1, 'usd_rate')" value='-&nbsp;'>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-2 menu-form-label'>
            <label>JPY</label>
          </div>
          <div class='col-md-6 col-xs-6 menu-form-input'>
            <input class="numeric integer optional form-control" type="number" step="0.1" name="menu[price_jpy]" id="jpy_rate">
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(0.1, 'jpy_rate')" value='+'>
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(-0.1, 'jpy_rate')" value='-&nbsp;'>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-2 menu-form-label'>
            <label>CNY</label>
          </div>
          <div class='col-md-6 col-xs-6 menu-form-input'>
            <input class="numeric integer optional form-control" type="number" step="0.1" name="menu[price_cny]" id="cny_rate">
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(0.1, 'cny_rate')" value='+'>
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(-0.1, 'cny_rate')" value='-&nbsp;'>
          </div>
        </div>


        <div class="page-header">
          <h1><small>적용가</small></h1>
        </div>


        <div class='row'>
          <div class='col-md-2 menu-form-label'>
            <label>USD</label>
          </div>
          <div class='col-md-6 col-xs-6 menu-form-input'>
            <input class="numeric integer optional form-control" type="number" step="0.1" name="menu[price_usd]" id="usd_price">
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(0.1, 'usd_price')" value='+'>
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(-0.1, 'usd_price')" value='-&nbsp;'>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-2 menu-form-label'>
            <label>JPY</label>
          </div>
          <div class='col-md-6 col-xs-6 menu-form-input'>
            <input class="numeric integer optional form-control" type="number" step="0.1" name="menu[price_jpy]" id="jpy_price">
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(0.1, 'jpy_price')" value='+'>
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(-0.1, 'jpy_price')" value='-&nbsp;'>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-2 menu-form-label'>
            <label>CNY</label>
          </div>
          <div class='col-md-6 col-xs-6 menu-form-input'>
            <input class="numeric integer optional form-control" type="number" step="0.1" name="menu[price_cny]" id="cny_price">
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(0.1, 'cny_price')" value='+'>
          </div>
          <div class='col-md-1 col-xs-3'>
            <input type="button" class="btn btn-primary" onclick="change_v(-0.1, 'cny_price')" value='-&nbsp;'>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t(:cancel_button) %>
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <%= t(:save_button) %>
        </button>
      </div>
    </div>
  </div>
</div>