<%= render 'form_translation' %>

<%= simple_form_for([@restaurant, @menu], :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

<div class="panel-body">
  <div class='row'>
    <div class='col-md-2 menu-form-label'>
      <label>메뉴명</label>
    </div>
    <div class='col-md-6 col-xs-8 menu-form-input'>
      <%= f.text_field :name, :class=>'string optional form-control' %>
    </div>
    <div class='col-md-4 col-xs-4'>
      <button type="button" class="btn btn-primary" id="search" data-toggle="modal" data-target="#myModal">
        번역
      </button>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-2 menu-form-label'>
      <label>메뉴 카테고리</label>
    </div>
    <div class='col-md-4 menu-form-input'>
      <%= f.collection_select :category_id, @categories.order(:name), :id, :name, {include_blank: '카테고리를 선택해주세요'}, {class: 'form-control'} %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-2 menu-form-label'>
      <label>가격</label>
    </div>
    <div class='col-md-4 col-xs-8 menu-form-input'>
      <input class="numeric integer optional form-control" type="number" step="10" name="menu[price]" id="menu_price">
    </div>
    <div class='col-md-4 col-xs-4'>
      <button type="button" class="btn btn-primary" id="exchange" data-toggle="modal" data-target="#mModal">
        환율적용
      </button>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-2 menu-form-label'>
      <label>사진</label>
    </div>
    <div class='col-md-4 menu-form-input'>
      <input id="uploadImage" class="form-control file" type="file" name="menu_photos[]" label="affe" onchange="PreviewImage();" accept="image/*" capture="camera" multiple>
    </div>
  </div>
    
  <div class='visible-xs row'>
    <div class='col-md-2 menu-form-label'>
      <label>카메라</label>
    </div>
    <div class='col-md-6'>
      <div id='container_input_camera'>
        <img src="/assets/camera_icon.png">
        <input id="uploadImage_by_camera" class="form-control file" type="file" name="menu_photos[]" onchange="PreviewImage();" accept="image/*" capture="camera">
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-2 menu-form-label'>
      <label>비디오</label>
    </div>
    <div class='col-md-4 menu-form-input'>
      <input id="uploadVideo" class="form-control file" type="file" name="menu_videos[]" onchange="PreviewVideo();" multiple>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-2 menu-form-label'>
      <label>설명</label>
    </div>
    <div class='col-md-9 menu-form-input'>
      <textarea rows="5" class="text optional form-control" name="menu[description]" id="menu_description"><%= @menu.description %></textarea>
    </div>
  </div>

  <%= render 'form_exchange' %>

  <div class='row'>
    <div class='col-md-2 menu-form-label'>
    </div>
    <div class='col-md-9 menu-form-input'>
      <%= f.button :submit, :value=>t(:save_button), :class=>'btn btn-primary' %>
    </div>
  </div>

    <% if !@menu.photos.empty? %>
      <div class="row">
        <% @menu.photos.each do |p| %>
          <div class="col-md-4 restaurant-edit-photo">
            <%= image_tag p.photo.url(:medium), :class=>"img-responsive" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id="menu-photos-wrapper" class="row">
    </div>

</div>
<!-- Panel Body - End -->


	<div id='trans_result_input' style="display:none;">
		<input id='menu_menu_translations_1' name='menu_translations[]'>
		<input id='menu_menu_translations_2' name='menu_translations[]'>
		<input id='menu_menu_translations_3' name='menu_translations[]'>
	</div>

<% end %>

<script type="text/javascript">
  function PreviewImage() {
    var reader = new FileReader();
    var files = document.getElementById("uploadImage").files;

    function readFile(index){
      if(index >= files.length) return;

      var file = files[index];
      reader.onload = function(e){
        $('#menu-photos-wrapper').append("<div class='col-md-3'><img id='wrapper_image_"+ index +"' class='img-responsive' src='" + e.target.result + "'/></div>");
        readFile(index + 1);
      }
      reader.readAsDataURL(file);
    }

    if(files.length > 0){
      readFile(0);
    }
  };

</script>

<script type="text/javascript">
  function crop_image(image_id) {
    var image = document.getElementById("wrapper_image_" + image_id);

    console.log("test : " + image_id);

    $('#container_input_camera').append("<div class='col-md-3'><img class='img-responsive' src='" + image.src + "'/>");
  }
</script>

<!-- Jcrop -->
<script type="text/javascript">
	$(function() {
		// body...
		$('.img-responsive').Jcrop();
	});
</script>