<script type="text/javascript">
  $(document).ready(function(){
    $('#search').on('click',function(){
      document.getElementById('trans_result_table').style.display = 'block';

      var keyword = document.getElementById("menu_name").value;
      
      var googleApiKey = "AIzaSyD6Zl9LOdgemtJ0tSSL0Mao1hJYvRwq_0w";
      var url = "http://117.17.158.133:9200/tour/food/_search?size=100&q=Korean:" + keyword + "*" + "&sort=Korean:asc";

      $.ajax({ 
        beforeSend: function(xhrObj){
              xhrObj.setRequestHeader("Content-Type","application/json");
              xhrObj.setRequestHeader("Accept","application/json");
        },
        type: 'GET', 
        contentType: "application/json; charset=utf-8",
        url: url, 
        crossDomain: true,
        dataType : "json", 
        success: function(data) { 
          console.log(data);

          var i;
          var out = [];

          var eng, jn, cn;

          if(data.hits.hits.length == 0){
            console.log("Google Translator");

            $.getJSON( "https://www.googleapis.com/language/translate/v2?key=" + googleApiKey + "&q=" + encodeURIComponent(keyword) + "&source=ko&target=en", function( data ) {

              eng = data.data.translations[0].translatedText;

            });

            $.getJSON( "https://www.googleapis.com/language/translate/v2?key=" + googleApiKey + "&q=" + encodeURIComponent(keyword) + "&source=ko&target=ja", function( data ) {

              jn = data.data.translations[0].translatedText;
        
            });

            $.getJSON( "https://www.googleapis.com/language/translate/v2?key=" + googleApiKey + "&q=" + encodeURIComponent(keyword) + "&source=ko&target=zh-CN", function( data ) {

              cn = data.data.translations[0].translatedText;

              out += "<tr onclick='saveLang(this)'><td>" +
                     keyword +
                     "</td><td>" +
                     eng +
                     "</td><td>" +
                     jn +
                     "</td><td>" +
                     cn +
                     "</td></tr>";  
              document.getElementById("trans_result_tbody").innerHTML = out;
            });
          }else{
            for (i = 0; i < data.hits.hits.length; i++) {
              out += "<tr onclick='saveLang(this)'><td>" +
                     data.hits.hits[i]._source.Korean +
                     "</td><td>" +
                     data.hits.hits[i]._source.English +
                     "</td><td>" +
                     data.hits.hits[i]._source.Japanese_W +
                     "</td><td>" +
                     data.hits.hits[i]._source.Chinese_R +
                     "</td></tr>";
            }
            document.getElementById("trans_result_tbody").innerHTML = out;
          }               
        },
        error: function(err){
            console.log(err);
        }
      });  
    })
  });

  function saveLang(lang) {
    var localLangs = lang.getElementsByTagName('td');
    var rows = document.getElementsByTagName("tr");   

    for(i = 0; i < rows.length; i++){           
      rows[i].style.backgroundColor = "white"
    }
    lang.style.backgroundColor = "#f06d71"

    console.log(localLangs[0].innerText);

    var langs = [];

    var en = localLangs[1].innerText;
    var jn = localLangs[2].innerText;
    var cn = localLangs[3].innerText;

    document.getElementById('menu_menu_translations_1').value = en;
    document.getElementById('menu_menu_translations_2').value = jn;
    document.getElementById('menu_menu_translations_3').value = cn;

    // document.getElementById('trans_result_table').style.display = 'none';
  }
</script>
  
<!-- Translation Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          번역 메뉴명 선택
        </h4>
      </div>
      <div class="modal-body">
        <table class="table" id='trans_result_table' style='display:none'>
          <thead>
            <tr>
              <th>Korean</th>
              <th>English</th>
              <th>Japanese</th>
              <th>Chinese</th>
            </tr>
          </thead>
          <tbody id="trans_result_tbody"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>