<%= link_to([menu.restaurant, menu]) do %>
  <div class="col-md-4 menu-item" data-id="<%= menu.id %>">
    <div class="menu-item-wrapper">
      <%= image_tag menu.main_photo(:large), :class=>"img-responsive" %>
      <div class="menu-description">
        <div class="menu-name">
          <%= menu.name %>
        </div>
        <div class="menu-price">
          <%= number_to_currency(menu.price, :unit => "₩ ", precision: 0, format: '%u%n') %>
        </div>
      </div>
    </div>

    <% if user_signed_in? && @restaurant.user_id == current_user.id%>
      <div style='display:none;'>
        <li><%= link_to '수정', edit_restaurant_menu_path(menu.restaurant, menu) %></li>
        <li><%= link_to '삭제', [menu.restaurant, menu], method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </div>
    <% end %>
  </div>
<% end %>