<% unless @menu.videos.empty? %>
	<% @menu.videos.each_with_index do |video, index| %>
		<div class="item <%= "active" if index == 0 %>">
				<video src="<%=video.video.url(:medium) %>" width="100%" height="auto" controls></video>

		</div>
	<% end %>

<% end %>