
<% @menu.photos.each_with_index do |photo, index| %>
  <div class="item <%= "active" if index == 0 %>">
    <%= image_tag photo.url(:large), :id => 'cropbox' %>
    <%= photo.id %>
    <%= link_to 'crop', edit_restaurant_menu_menu_photo_path(@menu.restaurant, @menu, photo.id) %>
  </div>
<% end %>

