<div class='panel panel-default' class='menu_form'>
	<div class="panel-heading">메뉴 정보 수정</div>

	<%= render 'form' %>

</div>

<script type="text/javascript">
	document.getElementById("back_btn").href="<%= restaurant_menus_path %>"; 
</script>