<!-- <p id="notice"><%= notice %></p> -->

<div class='center'>
  <%= link_to image_tag('edit_menu.png'), 'menus/home', :class=>'main_btn_img' %>
  <%= link_to image_tag('new_menu.jpg'), new_restaurant_menu_path, :class=>'main_btn_img' %>
</div>