<div class='row'>
  <div class='col-md-3 menu-category'>
    <!-- Nav tabs -->
    <div class='panel panel-default'>
      <ul class="nav nav-tabs tabs-left" role="tablist" style="padding-top:0;">
        <div class='menu-category-header'>
          <li class='title'><%= t(:category_header) %></li>
        </div> 
        <% if @categories.blank? %>
          <li>
            <a href="#home" data-toggle="tab">기본메뉴</a>
          </li>
        <% else %>        
          <% @categories.each_with_index do |category, index| %>
            <li <% if index==0 %>class='active'<% end %>>
              <a href="#<%= category.name %>" data-toggle="tab">
                <%= category.name %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='col-md-9 menu-list'>
    <div class="tab-content panel panel-default">

        <% if @categories.blank? %>
          <div class="tab-pane active" id="home">
            <div class='panel-body'>
              <div class='menu-header clearfix'>
                <h3 class="inline-header">기 본 메 뉴</h3>
              </div>
              <% @menus.each do |menu| %>
                <%= render :partial=>"menu_item", :locals=>{:menu => menu}  %>
              <% end %>
            </div>
          </div>

        <% else %>
          <% @categories.each_with_index do |category, index| %>
            <div class="tab-pane <% if index==0 %>active<% end %>" id="<%= category.name %>">
              <div class='panel-body'>
                <div class='menu-header clearfix'>
                  <h3 class="inline-header"><%= category.name %></h3>
                </div>

              <% @menus.each do |menu| %>
                <% if category.id == menu.category_id %>
                  <%= render :partial=>"menu_item", :locals=>{:menu => menu} %>
                <% end %>
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div id="detail_tap" role="tabpanel" class="section-tab tab-pane fade">

        </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if @restaurant.user_id == current_user.id %>
    <div class='row'>
      <%= link_to t(:new_menu_button), new_restaurant_menu_path,
      :class=>'btn btn-primary col-md-2 right',
      :style=>'margin-right:15px;' %>
    </div>
  <% end %>
<% end %>

<%= render :partial=>"detail" %>