<div class="page-header">
	<div class='row'>
		<div class='col-md-12'>
			<h1 class="title"><%= @menu.name %></h1>
			<h1 class="title" id='menu_name'></h1>
		</div>
	</div>
</div>

<div class = 'row'>
	<!-- 메뉴 사진 -->
	<div class = 'col-md-6'>
		<div id='photo_info' class="panel panel-default">
		  <div class="panel-body">
		    <%= render :partial=>"photo" %>
		  </div>
		</div>
	</div>

	<!-- 기타 정보 -->
	<div class='col-md-6'>
		<div id='menu-info' class="panel panel-default">
			<div class="panel-body">
				<li class="price" id='default_price' value="<%= @menu.price %>">
					<%= number_to_currency(@menu.price, :unit => "₩ ", precision: 0, format: '%u%n') %>
				</li>
				<li class="price" id="locale_price"></li>
			</div>
		  <div class="panel-footer">
		  	<%= @menu.description %>
			</div>
		</div>
		<div class='row'>
	  	<div class='col-xs-6'>
				<%= link_to '메뉴판 보기', restaurant_menus_path,
				:class=>'btn btn-primary',
		    :style=>'width:100%;' %>
	    </div>
	    <% if user_signed_in? %>
				<% if @restaurant.user_id == current_user.id %>
			    <div class='col-xs-6'>
						<%= link_to '수정', edit_restaurant_menu_path(@menu.restaurant, @menu),
						:class=>'btn btn-primary',
			      :style=>'width:100%;' %>
			    </div>
			  <% end %>
		  <% end %>
	  </div>
	</div>

</div>

<div>
	<%= render :partial=>'video' %>
</div>

<p style='display:none' id='real_price'><%= @menu.price %></p>

<%= render :partial=>'change_lang' %>
