<%= simple_form_for([@restaurant, @comment]) do |f| %>
  <%= f.error_notification %>

  <% if user_signed_in? %>
  	<%= f.hidden_field :user_email, :value => current_user.email %>
  <% end %>

  <div class="form-inputs">
    <input id="input-21f" value="0" type="number" min=0 max=5 step=0.1 data-size="md", name='comment[star_point]'>
  	<%= f.input :description, input_html: { rows: 4 }, :label=>'리뷰' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<!-- Star Rating -->
<script>
  jQuery(document).ready(function () {
    $("#input-21f").rating({
        starCaptions: function(val) {
            return val;
        },
        starCaptionClasses: function(val) {
            if (val < 3) {
                return 'label label-danger';
            } else {
                return 'label label-success';
            }
        },
        hoverOnClear: false
    });
    
    $('#rating-input').rating({
          min: 0,
          max: 5,
          step: 1,
          size: 'lg',
          showClear: false
       });
       
    $('#btn-rating-input').on('click', function() {
        $('#rating-input').rating('refresh', {
            showClear:true, 
            disabled:true
        });
    });
    
    
    $('.btn-danger').on('click', function() {
        $("#kartik").rating('destroy');
    });
    
    $('.btn-success').on('click', function() {
        $("#kartik").rating('create');
    });
    
    $('#rating-input').on('rating.change', function() {
        alert($('#rating-input').val());
    });
    
    
    $('.rb-rating').rating({'showCaption':true, 'stars':'3', 'min':'0', 'max':'3', 'step':'1', 'size':'xs', 'starCaptions': {0:'status:nix', 1:'status:wackelt', 2:'status:geht', 3:'status:laeuft'}});
  });
</script>