<% flash.each do |type, message| %>
	<div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
		<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
		<%= message %>
	</div>
<% end %>