
<%= form_tag :class=>"form-horizontal" do %>
	<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <%= text_field_tag :r_code, params[:r_code], :class=>"form-control", :id=>"inputEmail3", :placeholder=>"Email" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <%= password_field_tag :r_pwd, params[:r_pwd], :type=>"password", :class=>"form-control", :id=>"inputPassword3", :placeholder=>"Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<%= submit_tag "확인", :class=>'btn btn-default' %>
      <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
    </div>
  </div>
  
<% end %>

<div id='new_restaurant_btn'>
	<%= link_to 'New Restaurant', new_restaurant_path %>
</div>