<script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>
<script type="text/javascript">
  function openDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
        // 우편번호와 주소 정보를 해당 필드에 넣고, 커서를 상세주소 필드로 이동한다.
        document.getElementById('restaurant_postcode').value = data.postcode1 + data.postcode2;
        document.getElementById('restaurant_address').value = data.address;

        //전체 주소에서 연결 번지 및 ()로 묶여 있는 부가정보를 제거하고자 할 경우,
        //아래와 같은 정규식을 사용해도 된다. 정규식은 개발자의 목적에 맞게 수정해서 사용 가능하다.
        //var addr = data.address.replace(/(\s|^)\(.+\)$|\S+~\S+/g, '');
        //document.getElementById('addr').value = addr;

        get_position_from_address(data.address);

        document.getElementById('addr2').focus();
      }
    }).open();
  }
</script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

  var map = null;
  var zoom_level = 16;
  function get_position_from_address(address){
    var geocoder = new google.maps.Geocoder();

    geocoder.geocode( {'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK){        
        $('#restaurant_x_pos').val(results[0].geometry.location.lng());
        $('#restaurant_y_pos').val(results[0].geometry.location.lat());
        $('#location_error_alert').hide();
        
        initialize_googlemap(results[0].geometry.location.lat(), results[0].geometry.location.lng());
      }else if(status == "ZERO_RESULTS"){
        $('#location_error_alert').show();
        if($('#restaurant_y_pos').val() == "" || $('#restaurant_y_pos').val() == null){
          //geocoding 결과가 없을 경우 서울의 좌표로 초기화 함.
          $('#restaurant_x_pos').val("126.986");
          $('#restaurant_y_pos').val("37.541");
        }
        initialize_googlemap($('#restaurant_y_pos').val(), $('#restaurant_x_pos').val());
      }
    });
  }

  function initialize_googlemap(latitude, longitude){
    latitude = latitude || $('#restaurant_y_pos').val() || "37.541";
    longitude = longitude || $('#restaurant_x_pos').val() || "126.986";

    var latlng = new google.maps.LatLng(latitude, longitude);
    var mapOptions = {
      zoom: zoom_level,
      center: latlng,
      navigationControl: true,
      navigationControlOptions: {
        style: google.maps.NavigationControlStyle.DEFAULT
      },
      scaleControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("gmap"),
        mapOptions);

    var marker = new google.maps.Marker({
      position: latlng,
      map: map
    });

    google.maps.event.addListener(map, 'click', function(event) {
      placeMarker(event.latLng, marker, map);
    });

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(latlng);
    });

    google.maps.event.addListener(map, 'zoom_changed', function() {
      zoom_level = map.getZoom();
    });
    
    google.maps.event.addListenerOnce(map, 'idle', function() {
      google.maps.event.trigger(map, 'resize');
      map.setCenter(latlng);
    });

    $('#gmap_div').show();
  }

  function placeMarker(location, marker, map) {
    $('#restaurant_x_pos').val(location.lng());
    $('#restaurant_y_pos').val(location.lat());
    
    marker.setPosition(location);
    map.setCenter(location);
  }
</script>


<script type="text/javascript">
  $(function(){
    $('.pbtn_1').click(function(){
      $('#restaurant_form').submit();
    });

    $('.pbtn_2').click(function(){
      history.back();
    });
  })
</script>


<!-- 사진 미리보기 -->
<script type="text/javascript">
  function PreviewImage() {
    var reader = new FileReader();
    var files = document.getElementById("uploadImage").files;

    function readFile(index){
      if(index >= files.length) return;

      var file = files[index];
      reader.onload = function(e){
        $('#restaurant-photos-wrapper').append("<div class='col-md-3'><img class='img-responsive' src='" + e.target.result + "'/></div>");
        readFile(index + 1);
      }
      reader.readAsDataURL(file);
    }

    if(files.length > 0){
      readFile(0);
    }
  };

</script>

<%= simple_form_for(@restaurant, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">기본 정보 입력</h3>
    </div>
    <div class="panel-body">

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>음식점 이름</label>
        </div>
        <div class='col-md-6 col-xs-8 restaurant-form-input'>
          <%= f.text_field :name, :class=>'string optional form-control' %>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>사진</label>
        </div>
        <div class='col-md-4 restaurant-form-input'>
          <input id="uploadImage" class="form-control file" type="file" name="restaurant_photos[]" label="affe" onchange="PreviewImage();" accept="image/*" capture="camera" multiple>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>설명</label>
        </div>
        <div class='col-md-9 restaurant-form-input'>
          <textarea rows="5" class="text optional form-control" name="restaurant[description]" id="restaurant_description"><%= @restaurant.description %></textarea>
        </div>
      </div>

      <div class="form-inputs">
        <% if !@restaurant.photos.empty? %>
          <div class="row">
            <% @restaurant.photos.each do |p| %>
              <div class="col-md-4 restaurant-edit-photo">
                <%= image_tag p.photo.url(:medium), :class=>"img-responsive" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
        </div>
        <div class='col-md-9 restaurant-form-input'>
          <%= f.button :submit, :value=>t(:save_button), :class=>'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">시간 및 요일 정보 입력</h3>
    </div>
    <div class="panel-body">

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>오픈 시간</label>
        </div>
        <div class='col-md-4 restaurant-form-input'>
          <%= f.time_select :open_time, :default => {:hour => '9', :minute => '30'} %>
        </div>
        <div class='col-md-2 restaurant-form-label'>
          <label>클로즈 시간</label>
        </div>
        <div class='col-md-4 restaurant-form-input'>
          <%= f.time_select :close_time, :default => {:hour => '22', :minute => '00'} %>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>오픈 요일</label>
        </div>
        <div class='col-md-8 restaurant-form-input'>
          <table class="table bordered-table lined-table">
            <tbody class="centered">
              <tr>
                <% I18n.t("date.abbr_day_names").each_with_index do |day, idx| %>
                  <td class="day<%= idx %>"><%=  day %></td>
                <% end %>
              </tr>
              <tr>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[sun_d]" id="restaurant_sun_d">
                </td>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[mon_d]" id="restaurant_mon_d">
                </td>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[tue_d]" id="restaurant_tue_d">
                </td>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[wed_d]" id="restaurant_wed_d">
                </td>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[thu_d]" id="restaurant_thu_d">
                </td>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[fri_d]" id="restaurant_fri_d">
                </td>
                <td>
                  <input class="boolean optional" type="checkbox" value="1" name="restaurant[sat_d]" id="restaurant_sat_d">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
        </div>
        <div class='col-md-9 restaurant-form-input'>
          <%= f.button :submit, :value=>t(:save_button), :class=>'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">위치 정보 입력</h3>
    </div>
    <div class="panel-body">

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>전화번호</label>
        </div>
        <div class='col-md-4 restaurant-form-input'>
          <input class="string tel optional form-control" type="tel" name="restaurant[phone]" id="restaurant_phone">
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>우편번호</label>
        </div>
        <div class='col-md-4 restaurant-form-input'>
          <input id="restaurant_postcode" type="number" class="form-control" readonly="true" value="<%= @restaurant.postcode unless @restaurant.postcode.nil? %>" name='restaurant[postcode]'>
        </div>
        <div class='col-md-4 restaurant-form-input'>
          <input type="button" onclick="openDaumPostcode()" class='btn btn-default' value='우편번호 찾기'>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>기본주소</label>
        </div>
        <div class='col-md-6 restaurant-form-input'>
          <input id="restaurant_address" type="text" class="form-control" readonly="true" value="<%= @restaurant.address unless @restaurant.address.nil? %>" name='restaurant[address]'>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
          <label>상세주소</label>
        </div>
        <div class='col-md-6 restaurant-form-input'>
          <input type="text" id="addr2" class="form-control">
        </div>
      </div>

      <div class='row' id="gmap_div" style="display: none;">
        <div class='col-md-2 restaurant-form-label'>
          <h3><span class="label label-danger">위치를 확인해주세요</span></h3>
        </div>
        <div class='col-md-8 restaurant-form-input'>
          <div id="gmap" style="width: 100%; height: 200px;"></div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-2 restaurant-form-label'>
        </div>
        <div class='col-md-9 restaurant-form-input'>
          <%= f.button :submit, :value=>t(:save_button), :class=>'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>

  <%= f.input :x_pos, :as => :hidden, :id => 'restaurant_x_pos' %>
  <%= f.input :y_pos, :as => :hidden, :id => 'restaurant_y_pos' %>

<% end %>