<% if @restaurant.x_pos.nil? %>
	<img src="http://placehold.it/577x428" alt="" style="width:100%;">
<% else %>
  <div id="gmap_div" style="display: none; width:100%; height:270px;">
    <div id="gmap" style="width: 100%; height: 100%;"></div>
  </div>
<% end %>
<% unless @restaurant.x_pos.nil? %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	var map = null;
  var zoom_level = 16;
    
  
  window.onload = function() {
    // 여기가 ROOM의 위치
    var x_pos = <%= @restaurant.x_pos %>;
    var y_pos = <%= @restaurant.y_pos %>;
    initialize_googlemap(y_pos, x_pos);
  };

  function initialize_googlemap(latitude, longitude){
    var latlng = new google.maps.LatLng(latitude, longitude);
    var mapOptions = {
      zoom: zoom_level,
      center: latlng,
      navigationControl: true,
      navigationControlOptions: {
        style: google.maps.NavigationControlStyle.DEFAULT
      },
      scaleControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("gmap"),
        mapOptions);

    var marker = new google.maps.Marker({
      position: latlng,
      map: map
    });

    google.maps.event.addListener(map, 'click', function(event) {
      placeMarker(event.latLng, marker, map);
    });

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(latlng);
    });

    google.maps.event.addListener(map, 'zoom_changed', function() {
      zoom_level = map.getZoom();
    });
    
    google.maps.event.addListenerOnce(map, 'idle', function() {
      google.maps.event.trigger(map, 'resize');
      map.setCenter(latlng);
    });

    $('#gmap_div').show();
  }

  function placeMarker(location, marker, map) {
    $('#restaurant_x_pos').val(location.lng());
    $('#restaurant_y_pos').val(location.lat());
    
    marker.setPosition(location);
    map.setCenter(location);
  }

  $('a#location_tab[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    showmap();
  });
</script>
<% end %>