<% unless @restaurant.photos.empty? %>
	<div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  	<% @restaurant.photos.each_with_index do |photo, index| %>
	  		<li data-target="#carousel-example-generic" 
	  			data-slide-to="<%= index %>"
	  			 class="<%= "active" if index == 0 %>"></li>
	  	<% end %>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  	<% @restaurant.photos.each_with_index do |photo, index| %>
	  		<div class="item <%= "active" if index == 0 %>">
	  			<%= image_tag photo.url(:large) %>
	  		</div>
	  	<% end %>
    </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
<% else %>
	<div class="resturant-empty-photo">
		<%= image_tag @restaurant.main_photo(:large), :style=>"margin-bottom: 20px;" %>
		<span><%= t :restaurant_empty_photo %></span>
	</div>
<% end %>