<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/assets/materialize.min.css"  rel="stylesheet"/>
</head>
<script type="text/javascript" src="/assets/materialize.min.js"></script>



<div class="row">
	<% @restaurants.each do |restaurant| %>
		<%= link_to(restaurant) do %>
		  <div class="col m3 s12">
		    <div class="card small">
		      <div class="card-image">
		        <%= image_tag(restaurant.main_photo(:medium), :class=>"img-responsive", :style=>'height:100%;') %>
		        <!-- <span class="card-title"></span> -->
		      </div>
		      <div class="card-content">
		      	<div class="name">
		      		<%= restaurant.name %>
		      	</div>
		      	<div class='info'>
		      		<div class='row'>
		      			<div class='col s12'>
		      				<i class="tiny material-icons left" style='padding-top: 7px;'>room</i>
		      				<li class='left'><%= restaurant.address.split(' ')[0]%> <%= restaurant.address.split(' ')[1]%></li>
	      				</div>
		      		</div>
		      		<div class='row'>
		      			<div class='col s12'>
		      				<i class="tiny material-icons left" style='padding-top: 7px;'>schedule</i>
		      				<li class='left'><%= restaurant.open_time.to_s(:time) %> ~ <%= restaurant.close_time.to_s(:time) %></li>
	      				</div>
		      		</div>
		      	</div>
		      </div>
		    </div>
		  </div>
	  <% end %>
	<% end %>
</div>