<!-- Star Rating -->
<script>
  jQuery(document).ready(function () {
    $("#input-21f").rating({
        starCaptions: function(val) {
            return val;
        },
        starCaptionClasses: function(val) {
            if (val < 3) {
                return 'label label-danger';
            } else {
                return 'label label-success';
            }
        },
        hoverOnClear: false
    });
    
    $('#rating-input').rating({
          min: 0,
          max: 5,
          step: 1,
          size: 'lg',
          showClear: false
       });
       
    $('#btn-rating-input').on('click', function() {
        $('#rating-input').rating('refresh', {
            showClear:true, 
            disabled:true
        });
    });
    
    
    $('.btn-danger').on('click', function() {
        $("#kartik").rating('destroy');
    });
    
    $('.btn-success').on('click', function() {
        $("#kartik").rating('create');
    });
    
    $('#rating-input').on('rating.change', function() {
        alert($('#rating-input').val());
    });
    
    
    $('.rb-rating').rating({'showCaption':false, 'stars':'3', 'min':'0', 'max':'3', 'step':'1', 'size':'xs', 'starCaptions': {0:'status:nix', 1:'status:wackelt', 2:'status:geht', 3:'status:laeuft'}});
  });
</script>

<style type="text/css">
	.star-rating.rating-md.rating-disabled{
		float: left;
	}

	.menu-btns{
		margin-bottom: 20px;
	}

	.menu-btns .btn{
		width: 100%;
	}
</style>

<div class="page-header">
	<div class='row'>
		<div class='col-md-12'>
			<h1 class="title"><%= @restaurant.name %></h1>
			<input id="input-21f" value="<%= @average_star_point %>" type="number" min=0 max=5 step=0.1 data-size="md", data-show-clear='false' readonly="true">
		</div>
	</div>
</div>
	
<div class = 'row'>
	<!-- 음식점 사진 -->
	<div class = 'col-md-6'>
		<div id='photo_info' class="panel panel-default">
		  <div class="panel-body">
		    <%= render :partial=>"photo" %>
		  </div>
		  <div class="panel-footer">
		  	<div class='row' style='margin-bottom:0;'>
			  	<div class='col-xs-12'>	
			  		<h5 class="inline-header">
			  				이 작성자를 <%= @count %>명이 공감합니다.
		  			</h5>

		  			<!-- Uses 평가 -->
						<% if user_signed_in? %>
							<% if @user_sym_points.blank? %>
								<%= form_for(@user_sym_point, url: user_sym_points_path) do |f| %>
									  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
									  <%= f.submit "공감", class: "btn btn-success right btn-sm" %>
								<% end %>
							<% else %>
								<% @user_sym_points.each do |sp| %>
									<%= link_to '취소', sp, method: :delete, class: "btn btn-danger right btn-sm"%>
								<% end %>
							<% end %>
						<% end %>
			  	</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 음식점 정보 -->
  <div class ="col-md-6">
  	<div id="address_info" class="panel panel-default">
		  <div class="panel-body">
		  	<div class="menu-btns">
		  			<div class="row">
		  				<div class="col-xs-6 <% "col-xs-offset-6" if user_signed_in? %>">
		  					<%= link_to t(:go_to_menu), restaurant_menus_path(@restaurant.id), class: "btn btn-primary" %>
	  					</div>
	  					<div class="col-xs-6">
	  							<% if user_signed_in? %>
									  <% if @restaurant.user_id == current_user.id %>
									    <%= link_to '메뉴 분류 구성', restaurant_categories_path(@restaurant.id), class: "btn btn-default" %>
									  <% end %>
									<% end %>
  						</div>
		  			</div>
				</div>

		    <%= render :partial=>"location" %>
		    <div id='restaurant_info'>
		    	<div class="row margin-bottom10">
		    		<div class='col-xs-3'>
		    			<h4><span><%= t(:address_info) %></span></h4>
		    		</div>
		    		<div class='col-xs-9'>
		    			<h4>
		    				<%= @restaurant.address.gsub(/\(.*?\)/, '') %>
		    				<br><%= @restaurant.address[/\(.*?\)/] %>
		    			</h4>
		    		</div>
		    	</div>

		    	<div class="row no-bottom">
		    		<div class='col-xs-3'>
		    			<h4><span><%= t(:phone_info) %></span></h4>
		    		</div>
		    		<div class='col-xs-9'>
		    			<h4><%= @restaurant.phone %></h4>
		    		</div>
		    	</div>

		    </div>
		  </div>
		</div>
  </div>
</div>

<div class="row">
	<!-- 시간 / 요일 정보 -->
	<div class="col-md-12">
		<table class="table bordered-table lined-table">
			<thead>
				<tr>
					<th class="centered" colspan="7">
						<h4>Today &nbsp; <%= @restaurant.open_time.to_s(:time) %> ~ <%= @restaurant.close_time.to_s(:time) %></h4>
					</th>
				</tr>
			</thead>
			<tbody class="centered">
				<tr>
					<% I18n.t("date.abbr_day_names").each_with_index do |day, idx| %>
						<td class="day<%= idx %>"><%=  day %></td>
					<% end %>
				</tr>
				<tr>
					<% @restaurant.week_days.each do |wtime| %>
						<td>
							<%= wtime %>
						</td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div class='row'>
	<!-- 리뷰 Start -->
	<div class="col-md-12">
		<div class="review-header clearfix">
			<h4 class="inline-header"><%= t(:reviews_and_ratings) %></h4>
			<%= link_to t(:new_review_button), new_restaurant_comment_path(@restaurant), class: "btn btn-primary right" %>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="row grid">

			<% @comments.each do |comment| %>
				<div class="col-md-3 grid-item">
					<div class="review-item">
						<div class="star-rate" style='width: 142px; margin: 0 auto;'>
							<input id="input-21f" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" readonly="true", data-show-clear='false' value='<%= comment.star_point %>' data-show-caption="false">
						</div>
						<div class="writer">
							<%= comment.user_email %>
						</div>

						<div class="review-photo">
							<%= image_tag comment.rand_photo, class: "img-responsive" %>
						</div>
						<div><%= comment.description %></div>
					</div>
				</div>
			<% end %>
					<!-- Test - Start -->
			<% @comments.each do |comment| %>
				<div class="col-md-3 grid-item">
					<div class="review-item">
						<div class="star-rate" style='width: 142px; margin: 0 auto;'>
							<input id="input-21f" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" readonly="true", data-show-clear='false' value='<%= comment.star_point %>' data-show-caption="false">
						</div>
						<div class="writer">
							<%= comment.user_email %>
						</div>

						<div class="review-photo">
							<%= image_tag comment.rand_photo, class: "img-responsive" %>
						</div>
						<div><%= comment.description %></div>
					</div>
				</div>
			<% end %>

			<% @comments.each do |comment| %>
				<div class="col-md-3 grid-item">
					<div class="review-item">
						<div class="star-rate" style='width: 142px; margin: 0 auto;'>
							<input id="input-21f" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" readonly="true", data-show-clear='false' value='<%= comment.star_point %>' data-show-caption="false">
						</div>
						<div class="writer">
							<%= comment.user_email %>
						</div>

						<div class="review-photo">
							<%= image_tag comment.rand_photo, class: "img-responsive" %>
						</div>
						<div><%= comment.description %></div>
					</div>
				</div>
			<% end %>
				<!-- Test End -->
		</div>
	</div>
</div>
<!-- 리뷰 End -->

<% if user_signed_in? %>
  <% if @restaurant.user_id == current_user.id %>
    <%= link_to '음식점 정보 수정', edit_restaurant_path(@restaurant), :class=>'btn btn-primary right' %>
  <% end %>
<% end %>

<script type="text/javascript">
	$(function(){
		$('.grid').masonry({
		  // options
		  percentPosition: true,
		  itemSelector: '.grid-item',
		  columnWidth: '.col-md-3'

		});
	});
</script>