$light-orange: #ff8c00;
$navbar-default-cololr: $light-orange;
$navbar-default-bg: #f06d71;
$navbar-default-link-color: white;
$navbar-default-link-active-color: #b43c1e;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: #b43c1e;

$priamry-color: #f06d71;
$priamry-border-color: #ed4f54;

@import 'bootstrap';
@import 'menus';
@import 'restaurants';
@import 'categories';
@import 'welcome';
@import 'jquery.Jcrop';
@import 'responsive';
@import 'star-rating';
@import 'bootstrap.vertical-tabs';
/*@import 'materialize';*/

.navbar {
	border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-default .navbar-toggle{
	border-color: white;

	&:hover{
		background-color: $priamry-color;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	&.inline-header {
		display: inline-block;
		float: left;
	}
}
h1.title{
	display: inline-block;
	float: left;
	margin-right: 20px;
}

li {
	list-style-type: none;
}

.btn,
.panel{
	border-radius: 0;
}

.no-bottom {
	margin-bottom: 0;
}

.right{
	float: right;
}

.table.lined-table{
	thead{
		border-top: 1px solid #ddd;
	}

	thead > tr > th,
	thead > tr > td,
	tbody > tr > th,
	tbody > tr > td{
		border: 1px solid #ddd;
	}

	thead > tr > th{
		background-color: #f2f2f2;
		text-align: center;
	}
}

.centered{
	text-align: center;
}

td.day0{
	color: red;
}

td.day6{
	color: blue;
}

a { color: inherit; }

.btn.btn-primary{
	background-color: $priamry-color;
	border: 1px solid $priamry-border-color;
}

/*  Nav Bar  - Start */
#main_top {
	.row	{
		margin: 0;
		font-size: 12px;

		.navbar-nav > li > a {
			padding-top: 4px;
			padding-bottom: 4px;

			color:#f06d71;
		}
	}
}	

#nav_top	{
	margin-bottom: 30px;
	.nav {
	margin: 0;
		li {
			text-align: center;
		}
	}
}
/*  Nav Bar  - End */