// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header	{
	.row {
		margin-bottom: 0;
	}
	margin-top: 0;
	margin-bottom: 30px;
	h1	{
		margin-top: 20;
	}
}