// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label	{
	font-size: 16px; width: 100%;
}

/* Form - Start */
.row {
	margin-bottom: 20px;
}
.menu-form-label {
	text-align: right;
}
#form_input_name	{
	input {width: 60%; float:left; margin-right: 20px;}
}

#container_input_camera	{
	border: 1px solid rgb(204, 204, 204); width:120px; height: 120px;
	
	img	{position:relative; height:115px;}
	input {
		display:block; position:absolute; opacity:0; z-index:10;
		overflow:hidden; left:0px; top:0px; width:120px; height:120px;
	}
}


#trans_result_tbody tr:hover {
    background-color: #f06d71;
}
#trans_result_tbody td:hover {
    cursor: pointer;
}
/* Form - End */

/* Menu Show */
#menu_price	{
}

#menu_bottom_btn	{
	margin-top: 10px;
}


/* Menu Index -- Start */
/* Left */
.menu-category {
	.panel {
		.menu-category-header {
			background-color: #eb4e4c;
			color: white;
			font-size: 20px;
		}
	}
	.title {
		color: white;
		font-size: 20px;
	}
}
/* Right */
.menu-list {
	.menu-header{
		padding-bottom: 5px;
		border-bottom: 2px solid #f06d71;
		margin-bottom: 20px;
	}
}
/* Menu Index -- End */

.review-item{
	border: 1px solid #ddd;
	padding: 20px;
	word-break: keep-all;
	margin-bottom: 20px;

	.writer{
		margin-bottom: 10px;
		text-align: center;
		font-weight: bold;
	}

	.review-photo{
		margin-bottom: 20px;
	}
}


#menus-wrapper{
	background-color: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 30px;
}

@media (max-width: 767px){
	#sections-in-menus{
		min-height: 0;
		padding-bottom: 30px;
	}

	#menus-wrapper .col-md-9{
		background-color: white;
	}

	#menus-wrapper .tab-content{
		border-left: none;
		border-right: none;
		border-bottom: none;
		padding: 10px 0 30px 0;
	}
}

.menu-item:hover{
	cursor: pointer;
}

.menu-item .menu-item-wrapper{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu-item .menu-item-wrapper img{
	border: 1px solid #ddd;
}

.menu-item .menu-item-wrapper .menu-description{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px 15px 5px 15px;
	background-color: rgba(255, 255, 255, .75);
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.menu-item .menu-item-wrapper .menu-description .menu-name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menu-item .menu-item-wrapper .menu-description .menu-price{
	text-align: right;
}

.menu-item .submenu-price{
	font-size: 10px;
}

.menu-item .submenu-price .price{
	font-size: 12px;
}

/* Menu Show - Start */
#menu-info {

	.panel-body {
		li {
			display: inline-block;
			font-size: 22px;
			font-weight: bold;
			color: #d71e01;
		}
	}
	.panel-body {
		text-align: center;
		.first {
			li {
				display: inline-block;
				font-size: 20px;
				margin-right: 10px;
			}
		}
		.second > li {
			display: inline-block;
			font-size: 22px;
			font-weight: bold;
			color: #d71e01;
		}
	}
}
/* Menu Show - End */

.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus{
	border-radius: 0;
	border: none;
	background-color: #eb4e4c;
	color: white;
}