@media (max-width: 767px) {
	#main-top {
		.container {
			.left {
				float: left;
			}
		}
	}
	.container {
		/*width: 320px; margin: 0 auto; vertical-align: middle;*/
	}
	.menu-category {
		.panel {
			min-height: 0px;
		}
		.title {
		padding: 10px 15px 5px 15px;
		}
	}
}
@media (min-width: 768px)	{
	.container {
		width: 1170px; margin: 0 auto;
	}

	.menu-category {
		.panel {
			min-height: 500px;
		}
		.title {
		padding: 70px 15px 5px 15px;
		}
	}
}