// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Form - Start */
.restaurant-form-label {
	text-align: right;
}
/* Form - End */

.card	{
	.card-content	{
		padding: 0px;

		.name	{
			font-size: 18px;
			color: black;
			margin-bottom: 5px;
		}
		.info{
			font-size: 18px;
			color: #686868;
			i {
				margin-right: 10px;
			}
			.row {
				margin-bottom: 0;
			}
			li {
				padding-top: 2px;
			}
		}
	}
}

.page-header	{
	margin-top: 0;
	margin-bottom: 30px;
	h1	{
		margin-top: 20;
	}
}

#location	{
	#gmap_div	{
		width: 577px;
		height: 429px;
	}
}

#address_info	{
	min-height: 476.844px;
}

#restaurant_info	{
	span {
		float: right;
	}
}

#time_info	{
	.panel-body {
		#day {
			text-align: right;
		}
		#time {
			text-align: center;
		}
	}
}

.review-header{
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.review-item{
	border: 1px solid #ddd;
	padding: 20px;
	word-break: keep-all;
	margin-bottom: 20px;

	.writer{
		margin-bottom: 10px;
		text-align: center;
		font-weight: bold;
	}

	.review-photo{
		margin-bottom: 20px;
	}
}