// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* Desktop Device */
@media all and (min-width: 1025px)	{

	div#welcome-input {
		font-size: 20px;
		width: 380px; margin: 0 auto;

		.item {
			margin-top: 10px;
			height: 30px;
		}

		label {float: left; width: 160px;}
		input {float: right;}
	}

	div#welcome-actions	{
		width: 380px; height: 100px;margin: 0 auto; margin-top: 20px;

		.item {
			float: right;
		}
	}
}

