<%= simple_form_for([@restaurant, @category]) do |f| %>
  <%= f.error_notification %>

  <div class="panel-body">
	  <div class='row'>
	    <div class='col-md-2 menu-form-label'>
	      <label>카테고리 명</label>
	    </div>
	    <div class='col-md-6 col-xs-8 menu-form-input'>
	      <%= f.text_field :name, :class=>'string optional form-control' %>
	    </div>
	  </div>
	

	  <div class='row'>
	    <div class='col-md-2 menu-form-label'>
	    </div>
	    <div class='col-md-9 menu-form-input'>
	      <%= f.button :submit, :value=>'저장', :class=>'btn btn-primary' %>
	    </div>
	  </div>
  </div>

<% end %>
