<div class="page-header">
  <div class='row'>
    <div class='col-md-12'>
      <h1 class="title">메뉴 카테고리 구성</h1>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">카테고리 목록</h3>
  </div>
  <div class="panel-body">
    <% @categories.each do |category| %>
          <div class='row'>
            <div class='col-xs-3' style='text-align:right;'>
              <%= category.name %>
            </div>
            <div class='col-xs-2'>
              <%= link_to '수정', edit_restaurant_category_path(category.restaurant, category), class: "btn btn-primary" %>
            </div>
            <div class='col-xs-2'>        
              <%= link_to '삭제', [category.restaurant, category], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
  </div>
</div>

<div class='row'>
  <%= link_to '카테고리 추가', new_restaurant_category_path,
  :class=>'btn btn-primary col-md-2 right',
  :style=>'margin-right:15px;' %>
</div>
