<div class='panel panel-default' class='menu_form'>
	<div class="panel-heading">메뉴 카테고리 추가</div>

	<%= render 'form' %>

</div>

<%= link_to 'Back', restaurant_categories_path(@restaurant.id),
:style=>'display:none;' %>