<script type="text/javascript">
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 200, 200],
      aspectRatio: 1
    });
  });

  function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;

      $("#crop_x").val(Math.round(coords.x));
      $("#crop_y").val(Math.round(coords.y));
      $("#crop_w").val(Math.round(coords.w));
      $("#crop_h").val(Math.round(coords.h));

  }
</script>

<div class="item">
  <%= image_tag @menu_photo.photo.url(:large), :id => 'cropbox' %>
</div>


<%= form_for([@restaurant, @menu, @menu_photo]) do |f| %>
  <%= f.text_field :seq %>

  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.text_field attribute, :id => attribute %>
  <% end %>
  <p><%= f.submit "Crop" %></p>
<% end %>