<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        
      </div>

      <div id="copyright" class="col-md-9">
        2015, by Prompt Technology, Co., Ltd. All RIghts Reserved
      </div>
    </div>
  </div>
</div>