<header id="main_top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav navbar-nav navbar-right">
        	  <li><%= link_to t(:new_restaurant_html), "/restaurants/new", :class=>"active", :style=>'font-weight: bold;' %></li>
          <% if current_user.nil? %>
            <li class='left'><%= link_to t(:log_in), "/login" %></li>
            <li class='left'><%= link_to t(:sign_up), "/signup" %></li>
          <% else %>
            <li class='left'><a  href="/"><%=t :my_page %></a></li>
	      		<li class='left'><a href="/logout"><%=t :log_out %></a></li>
          <% end %>
          <!-- 언어 변환 -->
			    <li class="dropdown left">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <span class="caret"></span></a>
			      <ul class="dropdown-menu" role="menu">
			        <li><%= link_to image_tag("flags/ko.png") + " 한국어", params.merge({:locale => :ko}) %></li>
              <li><%= link_to image_tag("flags/en.png") + " English", params.merge({:locale => :en}) %></li>
              <li><%= link_to image_tag("flags/ja.png") + " 日本語", params.merge({:locale => :ja}) %></li>
              <li><%= link_to image_tag("flags/zh-CN.png") + " 中國語", params.merge({:locale => :ch}) %></li>
			      </ul>
			    </li>

        </ul>
      </div>
    </div>
  </div> 
</header>

<header id='nav_top' class="navbar navbar-default" role="navigation">
  <div class="container">
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<%= link_to t(:program_title), '/', :class =>"navbar-brand" %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right:0;">
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to t(:home), '/' %></li>
      	<li><%= link_to t(:about_us), '/' %></li>
        <li><%= link_to t(:restaurant), restaurants_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
	</div>
</header>