<!DOCTYPE html>
<html>
<head>
  <title>Reditor</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable = no"/>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Fixed navbar -->
	<%= render partial: "layouts/navbar" %>
	
	<!-- Real Body -->
	<div class='container'>
		<%= yield %>
	</div>

</body>
</html>
